*{
  margin: 0;
  padding: 0;
  background-color: #142d4c;
}
.card{
border: 10px solid;
width: 30%;
background-color: #9fd3c7;
border-radius: 5%;

}
.card img{
width: 150px;


}
.list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;

}
.card h1{
  background-color:#ececec;
}
.card h2{
  background-color:#ececec;
}